__pycache__/
bin/*
input.txt
result1.txt
result2.txt
LinearFold/
LinearPartition/
SAMFEO/
linear_plot/
circular_plot/
dot.ps
rna.ps
result.txt
temp*
results/
SAMFEO/
x.py
Qx/
deltaG/
boxplot/
entropy/
positional_defect/
unique_seqs/
variance/
results/*
analysis/*
graphs/*